<!-- restaurant/main.html -->

{% extends 'restaurant/base.html' %}

{% block content %}
    <h1>The "Hot-Diggity-Dog" Hot Dog Emporium</h1>
    <h3>77 N Washington St, Boston, MA</h5>
    <h4>Hours</h4>
    <ul>
        <li>Monday - Saturday: 1:00 PM - 9:00 PM</li>
        <li>Sunday: Closed</li>
    </ul>
    <div class="images">
        <img src="https://static.vecteezy.com/system/resources/previews/070/938/522/non_2x/hotdog-mascot-character-on-white-background-vector.jpg" alt="">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWqNLQRk4ziQ5CUpD9W_NQnquXjQFilvnA2_rdXITOK6Zcltir8JSM0GZg&s=10" alt="">
    </div>
{% endblock %}