<!-- mini_insta/show_all_profiles.html -->
{% extends 'mini_insta/base.html' %}

{% block content %}

    <main class="grid-container"></main>
        {% for profile in profiles %}
            <div class="grid profile-card">
                <a href="{% url 'show_profile' profile.pk %}">
                    <img src="{{profile.profile_image_url}}" alt="">
                </a>
                <h2>{{profile.display_name}}</h2>
                <h3>@{{profile.username}}</h3>
            </div>
        {% endfor %}
    </main>

{% endblock %}