<!-- mini_insta/show_post.html -->
{% extends 'mini_insta/base.html' %}

{% block content %}
    <div class="grid profile-header">

        <div class="profile image">
            <img src="{{post.profile.profile_image_url}}" alt="">
        </div>

        <div class="profile info">
            <div class="grid profile-names">
                <h1>{{post.profile.display_name}}</h1>
                <h3>@{{post.profile.username}}</h1>
            </div>
        </div>
    </div>
    <div class="grid post-photos">
        {% for photo in post.get_all_photos %}
            <img src="{{photo.image_url}}" alt="">
        {% endfor %}
    </div>
    <div class="grid post-info">
        <p>{{post.timestamp}}</p>
        <p>{{post.caption}}</p>
    </div>

{% endblock %}